.container {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.picker {
  display: flex;
  gap: 0.5rem;
}

.colorCircle {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.2s ease;
}

.active {
  border-color: #003971;
}
