.container{
    display: flex;
    align-items: center;
    height: 100%;
    width:fit-content;
    position: absolute;
    gap: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.menu{
font-family: Inter;
font-size: 29px;
font-weight: 500;
line-height: 35.1px;
text-align: left;

}